<div class="my-4 titulos">
	<ul #items>
		<a style="cursor: pointer;" routerLink="/event/sociales"><li class="letrasUL fs-3" id="item1Menu">Sociales</li></a>
		<a style="cursor: pointer;"><li class="letrasUL fs-3" id="itemMenu2">Familiares</li></a>
		<a style="cursor: pointer;"><li class="letrasUL fs-3" id="itemMenu3">Fesitivales</li></a>
		<a style="cursor: pointer;"><li class="letrasUL fs-3" id="itemMenu4">Deportivos</li></a>
		<a style="cursor: pointer;"><li class="letrasUL fs-3" id="itemMenu5">Culturales</li></a>
		<a style="cursor: pointer;"><li class="letrasUL fs-3" id="itemMenu6">Empresariales</li></a>
	</ul>
</div>