<p>inicio works!</p>
<section class="ps-3">
    <div class="container">
        <div class="item">
          <div class="quote">
            <p>Conéctate con nuevas personas en nuestros </p>
            <button class="btn" type="button">
              <strong>Eventos Sociales</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            </button>
          </div>
        </div>

        <div class="item">
          <div class="quote">
            <p>Sumérgete en la diversión de los festivales más vibrantes y disfruta de la música, la comida y las tradiciones en nuestros </p>
            <button class="btn" type="button">
              <strong>Festivales</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            </button>
          </div>
        </div>

        <div class="item">
          <div class="quote">
            <p>Celebra la diversidad cultural en nuestra ciudad sumergiéndote en el arte, la música y la historia en nuestros eventos </p>
            <button class="btn" type="button">
              <strong>Eventos Cultura</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            </button>
          </div>
        </div>

        <div class="item">
          <div class="quote">
            <p>Descubre actividades para todas las edades, diviértete en familia y crea recuerdos duraderos en nuestros eventos</p>
            <button class="btn" type="button">
              <strong>Eventos Deportivos</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            </button>
          </div>
        </div>

        <div class="item">
          <div class="quote">
            <p>Vive la adrenalina de participar en actividades deportivas emocionantes y mantenerte en forma con nuestros:</p>
            <button class="btn" type="button">
              <strong>Eventos Deportivos</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
            </button>
          </div>
        </div>

        <div class="item">
          <div class="quote">
            <p>Descubre eventos de alto nivel que te ayudarán a establecer conexiones clave en tu industria. Amplía tu red de contactos y potencia tu crecimiento profesional con nuestros</p>
            <button class="btn" type="button">
              <strong>Eventos Empresariales</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>

              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>

    <div class="d-flex justify-content-center">
        <div class="separador my-5"></div>
    </div>

    <section class="fondo-boletin d-flex justify-content-center align-items-center flex-column">
        <h3 class="letraTienda text-white">Quieres estar enterado de nuestras ultimas promociones?</h3>
        <input class="form-control w-50" type="text" placeholder="Déjanos tu correo electrónico">
    </section>

