@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,400");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Asap', 'Poppins', sans-serif;
  text-shadow: 0 0 10px #000;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #111;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
}

.item {
  position: relative;
  flex: calc(100vw / 6) 1 1;
  background-size: cover;
  overflow: hidden;
  filter: saturate(90%);
  transition: 1s;
}

.item:before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(25deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.item:not(:last-child) {
  border-bottom: 1px solid #ccc;
  animation: borderPulse 5s infinite;
}

@media (min-width: 1024px) {
  .item:not(:last-child) {
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
}

.item:hover {
  flex-basis: 40%;
  filter: saturate(120%);
}

@media (min-width: 1024px) {
  .item:hover {
    flex-basis: 75%;
  }
}

.item:hover .quote {
  opacity: 1;
  transform: translateX(0);
}

.item:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1668451126472-8a2ee4767fa1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80");
  background-position: 72% 35%;
}

.item:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1493676304819-0d7a8d026dcf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2500&q=80");
  background-position: 45% 8%;
}

.item:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1587922342650-955e9760d689?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1625&q=80");
  background-position: 72% 35%;
}

.item:nth-child(4) {
  background-image: url("https://images.unsplash.com/photo-1517164850305-99a3e65bb47e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-position: 25% 65%;
}

.item:nth-child(5) {
  background-image: url("https://images.unsplash.com/photo-1585071258252-369a36d89e30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=756&q=80");
  background-position: 45% 25%;
}

.item:nth-child(6) {
  background-image: url("https://images.unsplash.com/photo-1611849541496-13319adb4d00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-position:45% 8%;
}
.quote {
  position: relative;
  top: 450px;
  color: #fff;
  bottom: 55%;
  left: 5rem;
  width: calc(100% - 10rem);
  opacity: 0;
  transition: 1s;
  transform: translateX(50%);
}

@media (min-width: 512px) {
  .quote {
    left: 15%;
    bottom: 35%;
    width: 20vw;
  }
}

@media (min-width: 1024px) {
  .quote {
    left: 15%;
    bottom: 35%;
    width: 30vw;
  }
}

.quote p {
  position: relative;
  display: inline-block;
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
  text-wrap: balance;
  font-style: italic;
}

.quote p:before,
.quote p:after {
  position: absolute;
  font-size: 5.5rem;
  opacity: 0.6;
}

.quote p:before {
  content: "“";
  top: 4rem;
  left: -2rem;
  transform: translate(-100%, -100%);
}

.quote p:after {
  content: "”";
  bottom: 2rem;
  right: -2rem;
  transform: translate(100%, 100%);
}

.quote span {
  position: absolute;
  bottom: -2rem;
  right: 0;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  transform: translate(4rem, 100%);
}

.quote span:before {
  content: "—";
  margin-right: 0.7rem;
}

@keyframes borderPulse {
  0%, 100% {
    border-color: rgba(204, 204, 204, 1);
  }
  25%, 75% {
    border-color: rgba(204, 204, 255, 0.9);
  }
  50% {
    border-color: rgba(204, 204, 255, 0.5);
  }
}

/* botón para cada button */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 12px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
