/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    border-radius: 12px;
    background: #ffffff;
  }
  .nav {
    display: flex;
    justify-content: space-between;

}

.brand-wrapper {
    align-self: flex-end;
}
.letra{
    font-size: 18px;
    font-weight: bold;
    color: #e3a81f;

  }
  .nav-content {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center; /* Agregamos esta línea para centrar los elementos */
    list-style: none;
    position: relative;
  }
.link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    width: 95px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active{
    transform: translateY(-10px);
}
.link-icon{
    font-size: 38px;
    color: #e8b34b;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-icon{
    color: #e8b34b; /* o cualquier otro color dorado que prefieras */
  }
.link-text{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #414141;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-text{
    opacity: 1;
}
.indicator{
    position: absolute;
    top: -14px;
    left: 48px;
    height: 36px;
    width: 36px;
    background-color: #e3a81f;
    border: 6px solid #E8F044;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.indicator::before,
.indicator::after{
    content: '';
    position: absolute;
    bottom: -8px;
    height: 24px;
    width: 19px;
}

/* Resto de los estilos... */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  .nav-content {
    justify-content: space-around;
  }

  .link-item {
    /* Resto de los estilos... */
    transition: all 0.3s ease-in-out;
  }

  .link-item.active {
    color: red;
    /* Otros estilos... */
  }

  .indicator {
    background-color: #E8F044;
    /* Otros estilos... */
  }

  .logo-container{
    margin: 30px;
  }
