
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


<link rel="stylesheet" href="navbar.component.css">

    <nav class="nav">
        <ul class="nav-content">
            <li class="nav-list">
                <a href="#" class="link-item active">
                    <i class='bx bxs-home link-icon'></i>
                    <span class="link-text ">inicio</span>
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="link-item">
                    <i class='bx bxs-caret-right-square link-icon'></i>
                    <span class="link-text">Login</span>
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="link-item">
                    <i class='bx bxs-bar-chart-square link-icon'></i>
                    <span class="link-text">contacto</span>
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="link-item">
                    <i class='bx bxs-message-rounded link-icon'></i>
                    <span class="link-text">productos</span>
                </a>
            </li>
            <li class="nav-list">
                <a href="#" class="link-item">
                    <i class='bx bxs-user link-icon'></i>
                    <span class="link-text">organizadores de eventos</span>
                </a>
            </li>

            <li class="nav-list" routerLink="/registroEventos">

                    <i class='bx bxs-user link-icon'></i>
                    <span class="link-text">registro de eventos</span>

            </li>

            <span class="indicator"></span>
        </ul>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            Button with data-bs-target
          </button>

          
        <div class="brand-wrapper">
            <p class="letra letraPrincipal">
                Hope❤️Events
            </p>
            </div>
        <script src="navbar.component.ts"></script>

    </nav>
