.container-events {
  margin-top: 140px;
}

.image-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px; /* Set a fixed width for the image container */
  height: 450px; /* Set a fixed height for the image container */
  border-radius: 0x; /* Add rounded corners to the image container */
  overflow: hidden; /* Hide the overflow content (rounded corners) */
}

.image-container:hover{
  transform: scale(1.1);
  width: 260px; /* Set a fixed width for the image container */
  height: 460px; /* Set a fixed height for the image container */
}

.carousel-image {
  width: 100%; /* Image width will be 100% of the container width */
  height: 100%; /* Image height will be 100% of the container height */
  object-fit: cover; /* Maintain the aspect ratio of the images */
  transition: transform 0.3s ease;
}
