<ul #items>
	<li class="letrasUL" id="item1Menu">Sociales</li>
	<li class="letrasUL" id="itemMenu2">Festivales</li>
	<li class="letrasUL" id="itemMenu3">Culturales</li>
	<li class="letrasUL" id="itemMenu4">Familiares</li>
	<li class="letrasUL" id="itemMenu5">Deportivos</li>
	<li class="letrasUL" id="itemMenu6">Empresariales</li>
</ul>

<div class="container slider-container" style="translate: 800px;">
	<section class="ps-3">
		<div class="container" #eventos>
			<div class="item" id="evento1">
				<div class="quote">
					<p>Conéctate con nuevas personas en nuestros eventos sociales.</p>
					<button class="btn" type="button">
						<strong>Eventos Sociales</strong>
						<div id="container-stars">
							<div id="stars"></div>
						</div>
					</button>
				</div>
			</div>

			<div class="item" id="evento2">
				<div class="quote">
					<p>Sumérgete en la diversión de los festivales más vibrantes y disfruta de la música, la comida y
						las tradiciones en nuestros festivales.</p>
					<button class="btn" type="button">
						<strong>Festivales</strong>
						<div id="container-stars">
							<div id="stars"></div>
						</div>
					</button>
				</div>
			</div>

			<div class="item" id="evento3">
				<div class="quote">
					<p>Celebra la diversidad cultural en nuestra ciudad sumergiéndote en el arte, la música y la
						historia en nuestros eventos culturales.</p>
					<button class="btn" type="button">
						<strong>Eventos Culturales</strong>
						<div id="container-stars">
							<div id="stars"></div>
						</div>
					</button>
				</div>
			</div>

			<div class="item" id="evento4">
				<div class="quote">
					<p>Descubre actividades para todas las edades, diviértete en familia y crea recuerdos duraderos en
						nuestros eventos familiares.</p>
					<button class="btn" type="button">
						<strong>Eventos Familiares</strong>
						<div id="container-stars">
							<div id="stars"></div>
						</div>
					</button>
				</div>
			</div>

			<div class="item" id="evento5">
				<div class="quote">
					<p>Vive la adrenalina de participar en actividades deportivas emocionantes y mantenerte en forma con
						nuestros eventos deportivos.</p>
					<button class="btn" type="button">
						<strong>Eventos Deportivos</strong>
						<div id="container-stars">
							<div id="stars"></div>
						</div>
					</button>
				</div>
			</div>

			<div class="item" id="evento6">
				<div class="quote">
					<p>Descubre eventos de alto nivel que te ayudarán a establecer conexiones clave en tu industria.
						Amplía tu red de contactos y potencia tu crecimiento profesional con nuestros eventos
						empresariales.</p>
					<button class="btn" type="button">
						<strong>Eventos Empresariales</strong>
						<div id="container-stars">
							<div id="stars"></div>
						</div>
						<div id="glow">
							<div class="circle"></div>
							<div class="circle"></div>
						</div>
					</button>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="quote">
	<h2 class="event-title">Eventos Sociales</h2>
	<p class="event-description">Conéctate con nuevas personas en nuestros eventos sociales.</p>
	<button class="btn" type="button">
		<strong>Ver más</strong>
	</button>
</div>

<section>
	<div class="quote">
		<h2 class="event-title">Festivales</h2>
		<p class="event-description">Sumérgete en la diversión de los festivales más vibrantes.</p>
		<button class="btn" type="button">
			<strong>Ver más</strong>
		</button>
	</div>

	<div class="quote">
		<h2 class="event-title">Eventos Culturales</h2>
		<p class="event-description">Celebra la diversidad cultural en nuestra ciudad.</p>
		<button class="btn" type="button">
			<strong>Ver más</strong>
		</button>
	</div>

	<div class="quote">
		<h2 class="event-title">Eventos Deportivos</h2>
		<p class="event-description">Descubre actividades para todas las edades y diviértete en familia.</p>
		<button class="btn" type="button">
			<strong>Ver más</strong>
		</button>
	</div>

	<div class="quote">
		<h2 class="event-title">Eventos Profesionales</h2>
		<p class="event-description">Descubre eventos de alto nivel para establecer conexiones clave en tu industria.
		</p>
		<button class="btn" type="button">
			<strong>Ver más</strong>
		</button>
	</div>

	<div class="quote">
		<h2 class="event-title">Eventos Empresariales</h2>
		<p class="event-description">Amplía tu red de contactos y potencia tu crecimiento profesional.</p>
		<button class="btn" type="button">
			<strong>Ver más</strong>
		</button>
	</div>
</section>